button {
    background-color: #CD0A14;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.h1-container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}